# Koneksi Database untuk .NET
ConnectionStrings__DefaultConnection="Host=localhost;Port=5432;Database=sassygurl_dev;Username=postgres;Password=postgres"

# Keamanan (JWT)
Jwt__Key="SASSY_GURL_SUPER_SECRET_KEY_2026_MIN_32_CHAR"
Jwt__Issuer="SassyGurlStoreApi"
Jwt__Audience="SassyGurlStoreClients"
Jwt__ExpireDays=30

# Provider & API Keys
Midtrans__ServerKey="SB-Mid-server-eimaADFLGadlMdmPM5mo0EsO"
ProviderApis__DigiflazzBaseUrl="https://api.digiflazz.com/v1/"
ProviderApis__DigiflazzApiKey="81031ce8-a564-53d2-bfea-eefa60175be7"